.container{
display: flex;
flex-direction: row;
background: rgb(241, 241, 241); 
flex-wrap: wrap;  
justify-content: center;
max-width: 1200px;
margin:  0 auto;
}


@media screen and (max-width: 1400px) {
    .container{
        display: flex;
        flex-direction: row;
        background: rgb(241, 241, 241); 
        flex-wrap: wrap;  
        justify-content: center;
        max-width: 100%;
        }
}
